In [2]:
import pandas as pd
df = pd.read_csv('data.csv')
df.head()

,ID_No,Name,Course,DoB,Mobile,Address,Branch,Year,Section
0,N210561,PAVITHRA BONAMSETTY,B.Tech,2005-05-09 00:00:00,6302682892,"38/3120,R.K Nagar,YSR district",Civil Engineering,E-02,CE-01
1,N210694,PANCHUMARTHI NAGA SRAVYA SRI,B.Tech,16/07/2006,9398016138,"1-23/A , ilavaram ,BHATTIPROLU (MANDAL), BAPAT...",Civil Engineering,E-02,CE-01
2,N210768,TALAGADADEEVI PUJITHA,B. Tech,27/11/2005,9618161864,"Rajapeta, Mylavaram, NTR district",Civil Engineering,E-02,CE-01
3,N210977,GOGULAMUDI LAKSHMI PRATHYUSHA,B. Tech,25/06/2006,8309636373,prakasam district,civil engineering,E-02,CE-01
4,N210127,M YUKTHESH CHOWDARY,B Tech,22/03/2006,9390801050,"10-20A,Seshapuram Village, Bangarupalem, Chittoor",Civil Engineering,E-02,CE-01

In [6]:
df.set_index('ID_No', inplace = True)

In [10]:
df.head()

,Name,Course,DoB,Mobile,Address,Branch,Year,Section
ID_No,,,,,,,,
N210561,PAVITHRA BONAMSETTY,B.Tech,2005-05-09 00:00:00,6302682892,"38/3120,R.K Nagar,YSR district",Civil Engineering,E-02,CE-01
N210694,PANCHUMARTHI NAGA SRAVYA SRI,B.Tech,16/07/2006,9398016138,"1-23/A , ilavaram ,BHATTIPROLU (MANDAL), BAPAT...",Civil Engineering,E-02,CE-01
N210768,TALAGADADEEVI PUJITHA,B. Tech,27/11/2005,9618161864,"Rajapeta, Mylavaram, NTR district",Civil Engineering,E-02,CE-01
N210977,GOGULAMUDI LAKSHMI PRATHYUSHA,B. Tech,25/06/2006,8309636373,prakasam district,civil engineering,E-02,CE-01
N210127,M YUKTHESH CHOWDARY,B Tech,22/03/2006,9390801050,"10-20A,Seshapuram Village, Bangarupalem, Chittoor",Civil Engineering,E-02,CE-01

In [11]:
df.dtypes

Name       object
Course     object
DoB        object
Mobile     object
Address    object
Branch     object
Year       object
Section    object
dtype: object

In [20]:
data = df.loc['N210132']

In [19]:
str

'PATNANA SAI KIRAN'

In [21]:
data

Name                                       PATNANA SAI KIRAN
Course                                                B.Tech
DoB                                      2005-08-16 00:00:00
Mobile                                            6300006765
Address    KOTABOMMAALI, SRIKAKULAM, ANDHRA PRADESH, 532195.
Branch                                                   CSE
Year                                                      E2
Section                                                 CSE3
Name: N210132, dtype: object

In [22]:
data['Name']

'PATNANA SAI KIRAN'